/* line 1, ../sass/game.scss */
body {
  background: #000; }

/* line 5, ../sass/game.scss */
#gameCanvas {
  background: #000;
  border: 1px solid #aaa;
  position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
/*    margin: 0 auto; */
}
